.terraform/
*.tfstate
*.tfstate.*
*.tfvars
terraform.tfvars

crash.log
crash.*.log

.idea/
.vscode/

__pycache__/
*.pyc

# Python
.venv/
venv/
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Terraform Lock (לשמור!)
!.terraform.lock.hcl